<div
        data-block
        data-block-app="{{ app }}"
        class="block-control"
>
    <div><a href="#" data-nginx-restart>Restart nginx</a></div>
    <div><a href="#" data-nginx-compile>Compile nginx</a></div>
    <div><a href="#" data-varnish-restart>Restart varnish</a></div>
    <div><a href="#" data-varnish-compile>Compile varnish</a></div>
</div>